{
  "semi": false,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "none",
  "arrowParens": "avoid",
  "quoteProps": "as-needed",
  "jsxSingleQuote": true,
  "endOfLine": "lf",
  "maxIndent": 4,
  "tailwindConfig": "./tailwind.config.ts"
}